<%- include('../template/header', {pagina:'Error 404'}) %>
<%- include('../template/navbar') %>
    <div class="container">
        <hr />
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRR_eLfogmshmj1heNcP48Kx3jvzfluoDGv4Q&usqp=CAU" width="300"></img>
          </div>
          <div class="col-md-auto">
            <h2 align="center">Sorry. We couldn't find your page</h2>
            <p>Make sure the URL is correct and try again.</p>
          </div>
        </div>
    </div>

<%- include('../template/footer') %>
