<%- include('../template/header', {pagina:'Reportes'}) %>
<%- include('../template/navbar') %>
<h1 align="center" class="text-white bg-dark">Reportes</h1>
<div class="p-3 mb-2 bg-info text-dark bg-opacity-10">
    <h2>Generación de reportes</h2>
    <br />
    <hr />
    <hr />
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <a href="RClientes" class="btn btn-outline-dark">---__ Listado de Clientes __---</a>
            </div>
            <div class="col-md-auto">
                <a href="RVentas" class="btn btn-outline-dark">---__ Ventas por Cliente __---</a>
            </div>
        </div>
        <hr />
    </div>
    <hr /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


<%- include('../template/footer') %>